local module = {}

module.SSID = {}
module.SSID["network_name"] = "password"

-- pins
D0 = 0
D1 = 1
D2 = 2
D3 = 3
D4 = 4
D5 = 5
D6 = 6
D7 = 7
D8 = 8

-- https://raw.githubusercontent.com/Links2004/Arduino/esp8266/docs/pin_functions.png
-- & https://arduining.files.wordpress.com/2015/08/nodemcudevkit_v1-0_io.jpg
module.LEDS_PIN = D3 -- pin D3
module.PIXELS = 8 -- number of pixels
module.SEGMENT_PIN_SDA = D1 -- I2C / D7 / GPIO13
module.SEGMENT_PIN_SCL = D2 -- I2C / D8 / GPIO15
module.SEGMENT_ADDR = 0x70
module.SEGMENT_WRITE_REG = 0x00

-- Pin used to sense temperature
module.TEMP_PIN = D4

-- Endpoint
module.HOST = "broker.example.com"
module.PORT = 1883
module.USER = "user"
module.PASSWORD = "password"
module.DATA_ENDPOINT = "home/energy"
module.SENSOR_ID = "main"
module.CONTROL_ENDPOINT = "home/sensor/" .. module.SENSOR_ID

module.SAMPLE_DELAY = 1000 -- in milliseconds
module.MAX_CURRENT = 30 -- A / EDF 6kW max

module.VOLTAGE = 230.0 -- 230 V
module.NB_TURNS = 2000 -- 2000 turns, ratio 1:2000
module.I_CAL = 8.51 -- Calibration I
module.I_OFFSET = 0.02

-- We need a correct voltage reference
wifi.sta.disconnect()
tmr.delay(500*1000) -- gives some time to disconnect
module.SUPPLYVOLTAGE = adc.readvdd33()

 -- WHERE calibration_value = ( i(measured = max*sqrt(2) / i(sensor = measured/2000) ) / R(burden)

    local peak_current_primary = module.MAX_CURRENT * math.sqrt(2) -- in A

    -- So in the secondary coil :
    local peak_current_secondary = peak_current_primary / module.NB_TURNS -- in A

    -- NodeMCU running at 3.3V (?), so :
    local SUPPLYVOLTAGE = adc.readvdd33() / 1000
    local burden_resistor_value = ((SUPPLYVOLTAGE/1000.0) / 2) / peak_current_secondary -- in Ohm
    
    print(" Peak Current (primary) [A]: " .. peak_current_primary)
    print(" Peak Current (secondary) [A]: " .. peak_current_secondary)
    print(" Internal Supply Voltage [V]: " .. SUPPLYVOLTAGE/1000.0)
    print(" Burden Resistor [Ohm]: " .. burden_resistor_value) -- 235,70 Ohm ?

return module
